In [5]:
import numpy as np
import pandas as pd
# import xlwings as xw # in case of xl

In [6]:
# read the csv file
wine = pd.read_csv("winequality-red.csv", sep=";")
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
# add new data
processing_df1 = wine.copy() # deplicate the data
processing_df1['test'] = (wine['density'] * wine['alcohol'])
processing_df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,test
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,9.37932
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,9.76864
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,9.77060
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,9.78040
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,9.37932

In [29]:
# use insert(row's number,ros's name,value)
processing_df2 = wine.copy()
new_data = "None" # the additional value
processing_df2.insert(12,'test',new_data)
processing_df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,1
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,None
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,None
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,None
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,None
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,None

In [17]:
# use drop(row or colunm, axis = row or colunm) sxis=0 => row, axis=1 => colunm
drop_df1 = wine.drop(["fixed acidity"],axis=1) 
drop_df1.head()

,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [23]:
# cut the data by number
# using .iloc[start of row:end of row, start of colunm:end of colunm]
processing_df3 = wine.copy()
processing_df3 = processing_df3.iloc[1:4,:5]
processing_df3.head()

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075

In [24]:
# cut the data by name
# using .loc[start of row's name:end of row's name, start of colunm's name:end of colunm's name]
processing_df4 = wine.copy()
processing_df4 = processing_df4.loc[1:4,'free sulfur dioxide':'quality']
processing_df4.head()

,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [30]:
# cut the data by yourself
cut_df1 = wine[wine['density'] < 0.997]
cut_df1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
10,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5

In [25]:
# cut the data by multiple condition
cut_df2 = wine[(wine['residual sugar'] < 1.3) & (wine['free sulfur dioxide'] < 10.0)]
cut_df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
909,7.3,0.305,0.39,1.2,0.059,7.0,11.0,0.99331,3.29,0.52,11.5,6
914,7.3,0.305,0.39,1.2,0.059,7.0,11.0,0.99331,3.29,0.52,11.5,6

In [26]:
print ("Additional Data")

Additional Data

In [27]:
wine_white = pd.read_csv('winequality-white.csv', sep=';')
wine_white.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [28]:
# add additional data to original data
# using concat([dataflam1, dataflam2])
concat_df = pd.concat([wine, wine_white]).reset_index(drop=True) #reset row numbers
concat_df.tail() # start at end

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [59]:
# using "merge"(dataflam1,dataflam2, on=row's key, how=contact type)

merge_df = pd.merge(processing_df1,processing_df2,on='test',how='left')
merge_df.head()

,fixed acidity_x,volatile acidity_x,citric acid_x,residual sugar_x,chlorides_x,free sulfur dioxide_x,total sulfur dioxide_x,density_x,pH_x,sulphates_x,...,citric acid_y,residual sugar_y,chlorides_y,free sulfur dioxide_y,total sulfur dioxide_y,density_y,pH_y,sulphates_y,alcohol_y,quality_y
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# analyse the data
# each avarage in quality 5, avarage in quality 6
processing_df4.groupby('quality').mean()

,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,
5,13.0,44.0,0.9974,3.385,0.605,9.6
6,17.0,60.0,0.9980,3.160,0.580,9.8

In [52]:
# changing dataflam style
processing_df4.groupby('quality',as_index=False).mean()

,quality,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,5,15.5,47.25,0.99735,3.37,0.6125,9.6
1,6,17.0,60.00,0.99800,3.16,0.5800,9.8

In [61]:
def return_max(n):
    return np.max(n) # max() from nampy

concat_df.groupby('quality').agg({"pH":return_max, 'alcohol':np.min}) 
# find maximun value in each quality

           pH  alcohol
quality
3        3.63      8.0
4        3.90      8.4
5        3.79      8.0
6        4.01      8.4
7        3.82      8.6
8        3.72      8.5
9        3.41     10.4